
.sidebar {
    background-color: magenta;
    color: white;
    height: 400px;
}
section {
    background-color: blue;
    color: white;
    height: 400px;
    display: flex;
}


@media (min-width:800px) {
    .container {
       display: flex;
    }
    .sidebar {
        width: 200px;
    }
    section {
    flex: 1;

    }
}