.exercise1 {
	display: flex;
}

.test {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	flex-grow: 1;
}

.test1 {
	background: #ff6347;
}

.test2 {
	background: #9370db;
}

.test3 {
	background: #00fa9a;
}

.loading1 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid rgba(rgba(255, 255, 255, 0.637), 0.75);
	border-right: rgba(255, 255, 255, 0.921);
	animation: loading1 1s 0s infinite linear;
}

@keyframes loading1 {
	100% {
		transform: rotate(1turn);
	}
}

.loading2 {
	width: 30px;
	height: 60px;
	border: 1px solid rgba(#fff, 0.5);
	border-radius: 50px;

	&::before {
		content: '';
		width: 20px;
		height: 20px;
		background: #fff;
		display: block;
		border-radius: 50%;
		margin: 2px auto;

    animation: loading2 1s 0s infinite alternate ease-in-out;
	}



}

@keyframes loading2 {
	0% {
		margin-top: 2px;
    transform: scale(1, 1);
	}
  50% {
    transform: scale(1, 1.5);
  }

	100% {
		margin-top: 38px;
    transform: scale(1, 1);
	}
}


.loading3 {
  width: 90px;
  height: 50px;
  display: flex;
  gap: 2px;
  


  span {
    background: #fff;
    flex:1;
    animation: loading3 1s 0s infinite alternate both;
    transform-origin: center bottom;
  }
  @for $i from 1 through 15 {
    span:nth-child(#{$i}) {
      animation-delay: 0.1s * $i;
    }
  }

}

@keyframes loading3 {

  0%{
    transform: scaleY(0);
  }

  100%{
    transform: scaleY(1);
  }
}


