%placeholder {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.test-mixin {
  
    @extend %placeholder;
    background: gold;
 
  }

  .left_box,
  .right_box {
    width: 200px;
    height: 200px;
    background: rgba(red, 0.6);
    float: left;
  
  }
  .right_box {
    float: right;
  }
