@use "sass:math";

body {
  margin: 0;
  padding: 0;
}

.board {
  height: 100vh;
  min-height: 800px;
  position: relative;
  overflow: hidden;
  background: rgb(0, 0, 0) url(../images/board-bg.jpg) center bottom;
  background-size: cover;
}

.zombie {
  width: 200px;
  height: 312px;
  background: url(../images/walkingdead.png);
  position: absolute;
  left: 110%;
  bottom: 100px;
  animation: walk 0.5s 0s infinite steps(9), move 10s 0s infinite linear;
}

@for $i from 1 through 50 {
  .zombie:nth-child(#{$i}) {
    $index : 100 + math.random(100);
    $time : math.random(10) + 10 * 1s;
    $delay: math.random(20) * 1s;

    bottom: $index * 1px;
    z-index: 500 - $index;
    animation: walk 0.5s 0s infinite steps(9), move $time $delay infinite linear;
  }
}

@keyframes walk {
  100% {
    background-position: -1800px 0;
  }
}

@keyframes move {
  0% {
    left: 110%;
  }
  100% {
    left: calc(-10% - 200px);
  }
}